.truck{
    padding-top: 300px;
    padding-left: 920px;
    color: tomato;
}

.delivery h2{
    padding-left: 870px;
    font-weight: lighter;

}



.text p{
    padding-left: 775px;
    width: 400px;
    text-align: center;
    color: black;

}